<h1>Contest name: <%= @contest.name %></h1>
<h2>Contest criteria: <%= @contest.criteria %></h2>

<%= "Number of photos in this contest: #{@contest.photos.size}" %>
<br>

<%= link_to("Vote in this contest", start_contest_path) %>
<br>    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% if logged_in? %>
	<h3>Your photos in contest: </h3>
	<div id="user_contest_index">
	<% if @contest.photos.where(user_id: current_user.id).empty? %>
	  <p>No photos in this contest yet</p>
	<% end %>

	<% @contest.photos.where(user_id: current_user.id).each do |photo| %>
		<div class="user_contest_photo">
	    	<%= image_tag photo.image, class: "contest_entry" %>
	    </div>
	<% end %>
	</div>
	<br>
	<h3>Your Photos</h3>
	<div id="user_index">
		<% if @user.photos.empty? %>
		  <p>You ain't gots no photos</p>
		<% end %>

		<% @user.photos.each do |photo| %>
		    <div class="user_photo">
		    	<%= link_to (image_tag photo.image, class: "user_contest_entry"), enter_contest_path(id: @contest.id, photo_id: photo.id)%>
		    </div>
		<% end %>
	</div>
<% end %>
