<h1>Sign Up</h1>
<% if @user.errors.any? %>
  <div>

    <h4 class="text-danger"><%= pluralize(@user.errors.count, "error") %> prevented you from signing up for an account:</h4>

    <ul class="list-group">
      <% @user.errors.full_messages.each do |msg| %>   
        <li class="list-group-item list-group-item-danger"><%= msg.downcase %></li>
      <% end %>
    </ul>            

  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Submit" , class: "btn btn-default" %>
  </div>
<% end %>
